@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

@font-face {
    font-family: 'Impact';
    src: url('../fonts/impact/impact.eot');
    src: url('../fonts/impact/impact.eot?#iefix') format('embedded-opentype'),
    url('../fonts/impact/impact.woff') format('woff'),
    url('../fonts/impact/impact.ttf') format('truetype'),
    url('../fonts/impact/impact.svg#impact') format('svg');
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

html, body, .container {
    height: 100%;
}

body {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 590px;
}

a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: #fff;
}

/* Top Navigation Style */
.codrops-top {
    margin-top: 1em;
}

.codrops-top a {
    font-size: 0.69em;
    padding: 0 0.25em;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
}

.codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

.codrops-icon-info:before {
    content: "\e003";
}

.codrops-icon span {
    display: none;
    position: absolute;
    font-size: 0.85em;
    padding: 0.5em 0 0 0.25em;
    font-weight: 700;
}

.codrops-icon:hover span {
    display: block;
    color: #6a7b7e;
}

/* Related demos */
.related {
    font-weight: 700;
    text-align: center;
    padding: 5em 0;
    display: none;
    background: #fff;
    color: rgba(0, 0, 0, 0.3);
}

.overview .related {
    display: block;
}

.related > a {
    border: 3px solid black;
    border-color: initial;
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
}

.related > a:hover,
.related > a:focus {
    color: rgba(0, 0, 0, 0.5);
}

.related a img {
    max-width: 100%;
    opacity: 0.8;
}

.related a:hover img,
.related a:active img {
    opacity: 1;
}

.related a h3 {
    margin: 0;
    padding: 0.5em 0 0.3em;
    max-width: 300px;
    text-align: left;
}

.btn {
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover, .btn:focus, .btn.focus {
    color: #333 !important;
    text-decoration: none !important;
}

.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-info {
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

