<html>

<head>
    <title>Texto del correo</title>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type'>
</head>
<style type='text/css'>
* {
    padding: 0px auto;
    margin: 0px;
}
td,
th {
    text-align: left;
    width: 33%;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    display: table-cell;
    color: #000000;
}
</style>

<body style='background-color: #ffffff; width: 100%;'>

    <div style='background-color: #6D1A42; color: #FFFFFF;'>
        <h1 style='padding: 20px;'>Preparación IPN</h1>
        <h2 style='padding: 20px;'>Registro curso segunda vuelta</h2>
    </div>


    <h2 style='text-align: center; color:#d32f2f; font-weight: bold;margin: 1.3em 0 0.5em 0;font-size: 28px;line-height: 1.4;'>Dirección</h2>

    <div style='margin: 1em 0 2em 0;font-size: 140%;line-height: 1.6; width: 90%; margin: 0px auto;'>
        <p style='margin: 0 0 .5em 0;display: block;margin: 1em;color: #000000;font-size: 24px;'>
            Hola <b><% print userFullName %></b>. El equipo de Preparación IPN te envía un cordial saludo.
        </p>    
        <p style='margin: 0 0 .5em 0;display: block;margin: 1em;color: #000000;font-size: 22px;'>
            Nuestra dirección es: Avenida Wilfrido Massieu &#35;310. Col. Planetario Lindavista, Del. Gustavo A. Madero, D.F.
        </p>
        <p style='margin: 0 0 .5em 0;display: block;margin: 1em;color: #000000;font-size: 24px;'>
        <b>
            Te hemos adjuntado un PDF de 4 hojas en donde vienen los detalles, el croquis y recomendaciones para llegar a tiempo.</b> <b style="color: red;">Revísalo, está muy completo.</b>
        </p>
        <p style='margin: 0 0 .5em 0;display: block;margin: 1em;color: #000000;font-size: 22px;'>
            Pedimos puntualidad, procura llegar con anticipación. Explicaremos temas importantes para ingresar al IPN y haremos un examen diagnóstico.
        </p>
        <p style='margin: 0 0 .5em 0;display: block;margin: 1em;color: #000000;font-size: 22px;'>
        <b>Te recordamos que en clase deberás pagar al menos &#36; 500.00. </b>
        </p>
        <p style='margin: 0 0 .5em 0;display: block;margin: 1em;color: #000000;font-size: 22px;'>
        <b>Tu asistencia a esta clase es el último paso para tu inscripción definitiva.</b>
        </p>
        <p style='margin: 0 0 .5em 0;display: block;margin: 1em;color: #000000;font-size: 22px;'>
        Deseándote mucho éxito.
        <br>
        Preparación IPN:
        <ul>
            <li>
                26-80-16-66
            </li>
            <li>
                65-66-23-31
            </li>
            <li>
                5545117069 (celular)
            </li>
        </ul>
        </p>
    </div>
<center><img src='http://segundavuelta.preparacionipn.com<% contextPathWeb %>/registro/img/maps.png'>
</center>

</body>

</html>
