<html>
<head><title>Texto del correo</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <style type="text/css">

    .c0 {
        background-color: #ffffff;
        font-size: 12pt;
        font-family: "Calibri";
        color: #444444;
        font-weight: bold
    }

    .c2 {
        background-color: #ffffff;
        font-family: 'Calibri';
        color: #444444;
        font-weight: bold
    }

    .c10 {
        text-decoration: underline;
        font-size: 18pt
    }

    .c11 {
       font-size: 18pt
    }

    .c4 {
        font-size: 12pt
    }

    </style>
</head>
<body style="background-color: #ffffff; max-width: 451.4pt; padding: 72pt 72pt 72pt 72pt;">
    <p style = "margin: 0; color: #000000; font-size: 11pt; font-family: 'Arial';" >
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt" >Hola! <b><% print userFullName %></b></span>
    </p>

    <p>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt" >El equipo de Preparaci&oacute;n IPN te env&iacute;a un cordial saludo. </span>
    </p>

    <p>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">La cita para tu clase de inducci&oacute;n es el d&iacute;a <b><% print inductionDate %></b> </span>
    </p>

    <p style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">
        Nuestra direcci&oacute;n es: Avenida Wilfrido Massieu #310. Col. Planetario Lindavista, Del. Gustavo A. Madero, D.F.
    </p>

    <p class="c3">
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">
            <i><b>Te hemos adjuntado un PDF de 4 hojas</b></i>
        </span>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">
            &nbsp;en donde vienen los detalles, el croquis y recomendaciones para llegar a tiempo.
        </span>
        <span style="background-color: #ffffff; color: #ac193d; font-weight: bold; text-decoration: underline; font-size: 12pt; font-family: 'Calibri';">
            Rev&iacute;salo, est&aacute; muy completo.
        </span>
    </p>

    <p>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">La clase de inducci&oacute;n durar&aacute; 1 hora y media. Pedimos puntualidad, procura llegar con anticipaci&oacute;n. Explicaremos temas importantes para ingresar al IPN y haremos un examen diagn&oacute;stico.</span>
    </p>

    <p>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">Te recordamos que en clase deber&aacute;s liquidar el costo total del curso <b>(Restando &#36; 2,000).</b></span>
    </p>

    <p>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">Tu asistencia a esta clase es el &uacute;ltimo paso para tu inscripci&oacute;n definitiva. </span>
    </p>

    <p>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">Dese&aacute;ndote mucho &eacute;xito.</span>
    </p>

    <p>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt"><i>Preparaci&oacute;n IPN</i></span>
    </p>

    <p>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 9pt">26-80-16-66</span>
    </p>

    <p>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 9pt">65-66-23-31</span>
    </p>

    <p>
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 9pt">5545117069 (celular)</span>
    </p>

</body>
</html>