<html>
<head>
    <title>Texto del correo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
</head>
<body style="background-color: #ffffff; max-width: 900.4pt; padding: 72pt 72pt 72pt 72pt;">
<div style="border: thin solid #000; padding: 20px 20px 20px 20px;">
    <br>
    <p style = "margin: 0; color: #000000; font-size: 11pt; font-family: 'Arial';" >
        <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt" ><b><% print userFullName %></b></span>
    </p>
    <p>
                <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt" >
                    Estás a un sólo paso de quedar inscrito en el grupo <b style="color:#01579B; font-size: 16pt;"><% print assignedGroup %></b> del curso especial de <b>Preparación IPN</b> segunda vuelta.
                </span>
    </p>
    <p>
                <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt" >
                    <b>El día </b><b style="color:#ac193d; font-size: 16pt;"><% print inductionDate %></b> <b>a las</b> <b style="color:#ac193d; font-size: 16pt;"><% print dateHour %> </b><b>es tu cita de inscripción.</b> Es fundamental acudir a tu cita de inscripción por las siguientes razones.
                    <li style="color: #444444; font-size: 12pt">Te presentaremos a tu maestro del curso.</li>
                    <li style="color: #444444; font-size: 12pt">Ubicarás nuestras instalaciones.</li>
                    <li style="color: #444444; font-size: 12pt">Conocerás nuestro método de trabajo.</li>
                    <li style="color: #444444; font-size: 12pt">Te agregaremos a las plataformas virtuales.</li>
                </span>
    </p>
    <p>
                <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">
                    Recuerda que el costo total del curso es de <b style="color:#4CAF50; font-size: 16pt;">\$<% print price %></b>, el cual incluye las clases presenciales, acceso a los videos del curso en línea y los exámenes simulacro.
                </span>
    </p>

    <p style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">
    <h2 style="color:#01579B;">¿Qué sigue?</h2>
    </p>
    <p>
        Dále click al siguiente link para confirmar tu asistencia a tu cita de inscripción.
    <p>
        <a href="<% print enrollmentUrl %>"> <% print enrollmentUrl %></a>
    </p>
    </p>
    <p>
                <span style="background-color: #ffffff; font-family: 'Calibri'; color: #444444; font-size: 12pt">
                    Aquí también te diremos en qué horario puedes acudir hoy y te enviaremos un croquis con la dirección
                    exacta para que sepas llegar a nuestras instalaciones ubicadas en Zacatenco, D.F.
                </span>
    </p>
    <p>
                <span style="background-color: #ffffff; font-family: 'Calibri'; color: #d349ed; font-size: 12pt">
                    ¡Te esperamos!
                </span>
    </p>
    <p>
                <span style="background-color: #ffffff; font-family: 'Calibri'; color: #d349ed; font-size: 12pt">
                    Preparacion IPN
                </span>
    </p>
</div>
</body>
</html>